.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.form-label,
.form-check-input {
    font-weight: bold;
    cursor: pointer;
}

.form-check-label,
.swtich-no {
    font-weight: normal;
}

.map {
    width: 542px;
    height: 610px;
    padding: 15px;
    position: relative;
    overflow: clip;
    font-size: 0;
}

.map-background {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 0;
}

.legend-off .map {
    height: 541px;
}

.map-squares-wrapper {
    position: relative;
    overflow: clip;
}

.map-squares {
    position: relative;
    width: 100%;
}

.legend {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
}


.map-squares-borders {
    pointer-events: none;
    position: absolute;
    z-index: 8;
    width: 100%;
    font-size: 0;
}
.map-square-border {
    display: inline-block;
}

.grid-on .map-square-border {
    outline: 1px solid white;
}

.tiles-on .map-square-border {
    background: url('tile-grid.png');
    background-size: 400% 
}

/* 15x15 tiles per grid */
.hoverTile {
  position:absolute;
  z-index: 7;
  top: 0;
  left: 0;
}
.hoverTile-player { background-color: rgb(255, 78, 81) }
.hoverTile-cannon { background-color: rgb(255, 232, 0) }
.hoverTile-enemy { background-color: rgb(19, 225, 242) }
.hoverTile-other { background-color: rgb(211, 67, 255) }

.map-size-1 .hoverTile { width: 33px; height: 33px; }
.map-size-2 .hoverTile { width: 17px; height: 17px; }
.map-size-3 .hoverTile { width: 8px; height: 8px; }